@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Metropolis';
  src: url('./assets/fonts/Metropolis-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./assets/fonts/Metropolis-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-brand: "Metropolis", ui-sans-serif, system-ui;
  --color-eneba: #4518AC;
  --color-gametile: #1F0A4D;
  --color-gametileborder: #63E3C1;
}